<div class="container">
  <div *ngIf="!isProdMode" class="mp-bg-light m-1 p-2  my-sm-2 rounded">
    <p>
      This is Stage version of application.<br>
      <b>Please ensure that you have outgoing port 8443 open for communication with REST API.</b><br>
      Please also note that I am not responsible for content of this version as credentials are available for
      anyone.<br>
      Main goal of this application was to improve my skills in Java, Spring, Hibernate and REST APIs and to provide me
      a usefull application for managing personal database.<br>
      Website look and UX is just an additional thing to ease communication with backend. I don't want to spend too much
      time to improve it more than required to be usable.<br>
      This website and REST server are hosted on Raspberry Pi using my private internet connection.<br>
    </p>
    <p>
      Username: test<br>
      Password: test123
    </p>
  </div>
  <div class="card card-outline-secondary m-1  my-sm-2">
    <div class="card-header">
      <h3 class="mb-0">Login</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onLoginSubmit()" [formGroup]="loginForm" autocomplete="off" class="form" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" formControlName="username" id="username" name="username"
                 type="text">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" formControlName="password" id="password" name="password"
                 type="password">
        </div>
        <button class="btn btn-success btn-lg float-right" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
