<div *ngIf="ingredient" class="container">
  <div class="row my-3">
    <div class="col-12 col-sm-6 my-1">
      <span class="lead">{{ ingredient.name }} ({{ ingredient.nameGenitive }})</span><br>
    </div>
    <div class="col-12 col-sm-4 my-1 m-auto">
      <a class="btn btn-success d-block"
         href='https://www.google.com/search?q={{ingredient.name}}+ile+waży'
         target="_blank">Search</a>
    </div>
  </div>
  <div class="row">
    <div class="col-10">{{ ingredient.baseUnit }}</div>
  </div>
  <div class="row mt-2">
    <button [routerLink]="['edit']"
            class="col-4 offset-1 btn btn-success">Update
    </button>
    <button (click)='deleteIngredient(ingredient)'
            class="col-4 offset-1 btn btn-success">Delete
    </button>
  </div>
</div>
