<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Portal</title>
  <meta content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
</head>
<body>
<header class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-dark mp-bg-dark">
    <a [routerLink]="['/home']" class="navbar-brand">
      <i class="fas fa fa-database px-1"></i>My Portal
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['/time']" class="nav-link">Time</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/flashcard']" class="nav-link">Flashcards</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/shopping']" class="nav-link">Shopping</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/crypto']" class="nav-link">Crypto</a>
        </li>
        <li class="nav-item" *ngIf="!inProgressExpanded">
          <a role="button" class="nav-link" (click)="inProgressExpanded=true"> >> </a>
        </li>
        <li class="nav-item" *ngIf="inProgressExpanded">
          <a role="button" class="nav-link" (click)="inProgressExpanded=false"> << </a>
        </li>
        <li class="nav-item dropdown ml-auto" *ngIf="inProgressExpanded">
          <a class="nav-link dropdown-toggle" id="movieDropdown" role="button" data-toggle="dropdown" (click)="movieDropdownExpanded=!movieDropdownExpanded">Movies</a>
          <div class="dropdown-menu mp-bg-dark" aria-labelledby="navbarDropdown" [ngClass]="{show: movieDropdownExpanded === true}">
            <a class="dropdown-item mp-txt-white" [routerLink]="['/crypto']" (click)="movieDropdownExpanded=false">Movies</a>
            <a class="dropdown-item mp-txt-white" [routerLink]="['/time']" (click)="movieDropdownExpanded=false">Genres</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item mp-txt-white">OTHER</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isLogged()" class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">Login</a>
        </li>
        <li *ngIf="isLogged()" class="nav-item">
          <a (click)="logout()" [routerLink]="" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
</body>
</html>
