<div class="container">
  <form (ngSubmit)="submitMovie()" [formGroup]="movieForm" autocomplete="off" class="form-horizontal my-1 my-sm-1"
        novalidate>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="title">Title</label>
      <input autofocus class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="title"
             id="title" type="text"/>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="year">Year</label>
      <input class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="year" id="year"
             max="2100" min="1800" type="number"/>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="duration">Duration</label>
      <input class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="duration" id="duration"
             max="1000" min="1" type="number"/>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="description">Description</label>
      <textarea class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="description" id="description"
                type="text"></textarea>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group" formArrayName="genres">
      <div class="col-12 col-sm-4 col-lg-2" for="genre">Genres</div>
      <div class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0 px-0">
        <div *ngFor="let g of genres.controls; let i=index" [formGroupName]="i" class="row mx-0 mt-1">
          <input (input)='updateList($event)' class="col-10 col-sm-11 pr-1" formControlName="name">
          <div class="col-1 mt-1">
            <button (click)="removeGenre(i)" *ngIf="i < genres.length - 1" type="button">X</button>
            <button (click)="listDisplayed = false" *ngIf="listDisplayed && (i == genres.length - 1)" type="button">X
            </button>
          </div>
        </div>
        <div *ngIf="listDisplayed" class="md-genre-list">
          <div (click)='chooseGenre(agi)' *ngFor="let ag of matchingGenres; let agi=index" class="p-1">{{ag.name}}</div>
          <div (click)='addNewGenre()' class="p-1">+ {{searchedGenre}}</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="watchPriority">Watch Priority</label>
      <input class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="watchPriority" id="watchPriority"
             max="5" min="0" type="number"/>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="rating">Rating</label>
      <input class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="rating" id="rating"
             max="10" min="0" type="number"/>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="review">Review</label>
      <textarea class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="review" id="review"
                type="text"></textarea>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="plotSummary">Plot Summary</label>
      <textarea class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="plotSummary" id="plotSummary"
                type="text"></textarea>
    </div>
    <div class="row justify-content-start justify-content-sm-center form-group">
      <label class="col-12 col-sm-4 col-lg-2" for="reviewDate">Review Date</label>
      <input class="col-11 col-sm-8 col-lg-6 mx-2 mx-sm-0" formControlName="reviewDate" id="reviewDate"
             placeholder="01-01-2019" type="date"/>
    </div>
    <button class="col-4 offset-7 btn btn-success" type="submit">Submit</button>
  </form>
</div>
