<div class="container">
  <button (click)="addGenreElement()" class="btn btn-success m-3"
          type="button">Add Genre
  </button>
  <div *ngIf='creating' class="card my-2">
    <div class="card-header">
      <form (ngSubmit)="createGenre()" [formGroup]="genreSubmitForm" autocomplete="off" id="createGenreForm">
        <input formControlName="name" type="text"/>
      </form>
    </div>
    <div class="card-body">
      <button class="btn btn-success card-link"
              form="createGenreForm" type="submit">Create
      </button>
      <button (click)="discardGenreElement()"
              class="btn btn-success card-link">Discard
      </button>
    </div>
  </div>
  <div *ngFor='let genre of genres; let index = index' class="card my-2">
    <div class="card-header">
      <span *ngIf="genre.id != editedGenreId">{{ genre.name }}</span>
      <form (ngSubmit)="updateGenre()" *ngIf="genre.id == editedGenreId" [formGroup]="genreSubmitForm"
            autocomplete="off" id="updateGenreForm">
        <input formControlName="index" type="hidden"/>
        <input formControlName="id" type="hidden"/>
        <input formControlName="name" type="text"/>
      </form>
    </div>
    <div class="card-body">
      <button (click)="searchMovies(genre.name)"
              *ngIf="genre.id != editedGenreId" class="btn btn-success card-link">Movies
      </button>
      <button (click)="updateGenreElement(index, genre)"
              *ngIf="genre.id != editedGenreId" class="btn btn-success card-link">Update
      </button>
      <button *ngIf="genre.id == editedGenreId"
              class="btn btn-success card-link" form="updateGenreForm" type="submit">Save
      </button>
      <button (click)="discardGenreElement()"
              *ngIf="genre.id == editedGenreId" class="btn btn-success card-link">Discard
      </button>
      <button (click)="deleteGenre(index, genre)"
              class="btn btn-success card-link" deleteGenre>Delete
      </button>
    </div>
  </div>
</div>
