<div class="container">
  <div class="row justify-content-center">
    <button [routerLink]="['/movies/create']" class="btn btn-success m-1 mx-3 px-3 m-md-3 mx-md-5 px-md-5"
            type="button">Add Movie
    </button>
    <button (click)="isSearchVisible = !isSearchVisible" [disabled]="!movieSearchForm.valid"
            class="btn btn-success m-1 mx-3 px-3 m-md-3 mx-md-5 px-md-5" title="TooggleSearch"
            type="button">Toogle Search
    </button>
  </div>
  <form (ngSubmit)="initiateSearch()" *ngIf="isSearchVisible" [formGroup]="movieSearchForm"
        autocomplete="off" class="form-horizontal my-1" novalidate>
    <div class="row justify-content-start justify-content-md-center form-group">
      <label class="col-12 col-md-3 col-xl-2" for="titleSearch">Title</label>
      <input class="col-11 col-md-6 col-xl-6 mx-2 mx-md-0" formControlName="title" id="titleSearch"
             type="text"/>
    </div>
    <div class="row justify-content-start justify-content-md-center form-group">
      <label class="col-12 col-md-3 col-xl-2" for="year">Year</label>
      <input class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="minYear" id="year"
             max="2100" min="1800" type="number"/>
      <input class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="maxYear" id="year"
             max="2100" min="1800" type="number"/>
    </div>
    <div class="row justify-content-start justify-content-md-center form-group">
      <label class="col-12 col-md-3 col-xl-2" for="duration">Duration</label>
      <input class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="minDuration" id="duration"
             max="1000" min="0" type="number"/>
      <input class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="maxDuration" id="duration"
             max="1000" min="0" type="number"/>
    </div>
    <div class="row justify-content-start justify-content-md-center form-group">
      <label class="col-12 col-md-3 col-xl-2" for="genres">Genres</label>
      <input class="col-11 col-md-6 col-xl-6 mx-2 mx-md-0" formControlName="genres" id="genres"
             type="text"/>
    </div>
    <div class="row justify-content-start justify-content-md-center form-group">
      <label class="col-12 col-md-3 col-xl-2" for="watchPriority">Watch Priority</label>
      <input class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="minWatchPriority" id="watchPriority"
             max="5" min="0" type="number"/>
      <input class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="maxWatchPriority" id="watchPriority"
             max="5" min="0" type="number"/>
    </div>
    <div class="row justify-content-start justify-content-md-center form-group">
      <label class="col-12 col-md-3 col-xl-2" for="rating">Rating</label>
      <input class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="minRating" id="rating"
             max="10" min="0" type="number"/>
      <input class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="maxRating" id="rating"
             max="10" min="0" type="number"/>
    </div>
    <div class="row justify-content-start justify-content-md-center form-group">
      <label class="col-12 col-md-3 col-xl-2" for="descriptionSearch">Description</label>
      <input class="col-11 col-md-6 col-xl-6 mx-2 mx-md-0" formControlName="description" id="descriptionSearch"
             type="text"/>
    </div>
    <div class="row justify-content-start justify-content-md-center form-group">
      <label class="col-12 col-md-3 col-xl-2" for="order">Order</label>
      <select class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="order" id="order">
        <option *ngFor="let o of movieSorting" [selected]="o === urlParams.order">{{ o }}</option>
      </select>
      <select class="col-5 col-md-3 col-xl-3 mx-2 mx-md-0" formControlName="sort" id="sort">
        <option *ngFor="let type of sort" [selected]="type === urlParams.sort">{{ type }}</option>
      </select>
    </div>
    <div class="row justify-content-center">
      <button (click)="resetForm()" class="btn btn-success m-1 mx-4 px-4 m-md-3 mx-md-5 px-md-5"
              type="button">Reset
      </button>
      <button class="btn btn-success m-1 mx-4 px-4 m-md-3 mx-md-5 px-md-5" type="submit">Search</button>
    </div>
  </form>
  <div *ngIf='movies && movies.length' class="row justify-content-center">
    <div *ngFor='let movie of movies; let index = index' class="card my-1 col-11 col-md-8 col-xl-8">
      <div class="row justify-content-center" id="movie-{{index}}">
        <div class="col-4 col-xl-3 py-2 px-1">
          <img alt="Image not found"
               class="card-img image-responsive"
               src="../../../assets/images/movies/{{movie.imageLocation || 'no-image.png'}}">
        </div>
        <div class="card-body col-8 col-xl-9 py-2 px-2">
          <div class="card-title">
            <a [routerLink]="['/movies', movie.id]">{{ movie.title }} ({{ movie.year }})</a>
          </div>
          <div class="card-text">
            {{ movie.duration | minutesToHours }}
          </div>
          <div class="card-text">
            {{ movie.genres | genre }}
          </div>
          <div class="card-text">
            {{ movie.watchPriority | watchPriority }}
          </div>
          <div *ngIf="movie.rating != null" class="card-text">
            <md-star *ngIf="movie.rating > 0" [maxRating]=10 [rating]='movie.rating'></md-star>
            <span *ngIf="movie.rating > 0" class="ml-1">({{ movie.rating }})</span>
            <span *ngIf="movie.rating == 0">Watched (no rating)</span>
          </div>
        </div>
        <div class="col-10 py-2">
          <button [routerLink]="['/movies', movie.id, 'edit']"
                  class="btn btn-success card-link mx-4 mx-md-5">Update
          </button>
          <button (click)='deleteMovie(index, movie)'
                  class="btn btn-success card-link mx-4 mx-md-5">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
